body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
  color: #333;
}

.logo {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Sección Del Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(255, 255, 255, 1);
  color: rgb(0, 0, 0);
  padding: 0.2rem 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 0.4rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Sección De Iconos */

.icon-bar {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.2rem;
  margin-left: -1rem;
  transition: transform 0.2s ease;
}

.icon-btn:hover {
  transform: scale(1.1);
}

/* Sección De Busqueda */

.search-bar {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.4s ease, transform 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.search-bar input {
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(10px);
}

  /* // Sección De Carrito */
  
  .cart-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 300px;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
  transition: right 0.4s ease;
  padding: 1rem;
  z-index: 1000;
}

.cart-panel.open {
  right: 0;
}

.cart-items {
  list-style: none;
  padding: 0;
}

.cart-items li {
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  padding-bottom: 0.5rem;
}

.close-cart {
  margin-top: 1rem;
  background: #222;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

/* Sección De Pantalla De Inicio */

.hero-banner {
  position: relative;
  height: 91vh;
  background: linear-gradient(to right, #000, #222);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  z-index: 2;
}

.hero-product {
  width: 200px;
  margin-bottom: 1rem;
}

.hero-banner::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://i.pinimg.com/736x/de/87/98/de879823cdded25720a788ccc70ab3bc.jpg') center/cover no-repeat;
  z-index: 1;
}

.cta-button {
  background: #d6d3c7;
  color: black;
  border: none;
  padding: 1.1rem 1.5rem;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 30rem;
  transition: background 0.3s ease;
}

.cta-button:hover {
  transform: scale(1.1);
  transition: 0.4s;

}

/* Sección De Productos */

.collections, .products {
  padding: 2rem;
}

.grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.card, .product-card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
}

/* Ultima Sección */

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 1rem;
}